{
    "openapi": "3.0.0",
    "info": {
        "title": "My Free Admission Api",
        "description": "My Free Admission Api",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://api.myfreeadmission.com/",
            "description": "API server"
        }
    ],
    "paths": {
        "/api/v1/college/login": {
            "post": {
                "tags": [
                    "College Login"
                ],
                "summary": "College Login",
                "operationId": "889478a4720d75dcba54cc2992641d3c",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "": {
                                        "properties": {
                                            "username": {
                                                "type": "string"
                                            },
                                            "password": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object",
                                "example": {
                                    "username": "example username",
                                    "password": "example password"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "token": {
                                            "type": "string",
                                            "example": "JWT_TOKEN_HERE"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Login Success"
                                        },
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Invalid Credentials"
                                        },
                                        "status": {
                                            "type": "string",
                                            "example": "failed"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/college": {
            "get": {
                "tags": [
                    "College"
                ],
                "summary": "Get a list of College data",
                "operationId": "fa76826676265e596a15d9e960516303",
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "400": {
                        "description": "Invalid request"
                    }
                }
            }
        },
        "/api/v1/org/{id}": {
            "get": {
                "tags": [
                    "College"
                ],
                "summary": "Get a College data",
                "operationId": "5b5ca3e8e2db423958ccec06ee159187",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "College ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "400": {
                        "description": "Invalid request"
                    }
                }
            }
        },
        "/api/v1/news/event/{id}": {
            "get": {
                "tags": [
                    "News Event"
                ],
                "summary": "Get a News Event data",
                "operationId": "ce40d3954b7fdc39e35871296dc296d7",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "News Event ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "400": {
                        "description": "Invalid request"
                    }
                }
            }
        },
        "/api/v1/college/compare": {
            "get": {
                "tags": [
                    "College"
                ],
                "summary": "Get colleges by ID",
                "operationId": "b434521577bae5945f1b5c170d7d2965",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "College IDs separated by comma",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "College Name"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid input"
                    },
                    "404": {
                        "description": "No colleges found"
                    }
                }
            }
        },
        "/api/v1/config/search": {
            "get": {
                "tags": [
                    "Config Search "
                ],
                "summary": "Get search configuration",
                "operationId": "c557e0d8bc5db208e6fa18c6e3729444",
                "parameters": [
                    {
                        "name": "course",
                        "in": "query",
                        "description": "Course ID",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "university",
                        "in": "query",
                        "description": "University ID",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "duration",
                        "in": "query",
                        "description": "Duration",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "type-of-college",
                        "in": "query",
                        "description": "Type of college",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "keyword",
                        "in": "query",
                        "description": "Keyword",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Number of items per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 10
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "course": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "title": {
                                                                "type": "string",
                                                                "example": "Course Name"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "university": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "title": {
                                                                "type": "string",
                                                                "example": "University Name"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "type-of-college": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "key": {
                                                                "type": "string",
                                                                "example": "Public"
                                                            },
                                                            "value": {
                                                                "type": "string",
                                                                "example": "Public"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "duration": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "key": {
                                                                "type": "string",
                                                                "example": "1"
                                                            },
                                                            "value": {
                                                                "type": "string",
                                                                "example": "1 Year"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "organizations": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "name": {
                                                                "type": "string",
                                                                "example": "Organization Name"
                                                            },
                                                            "type": {
                                                                "type": "string",
                                                                "example": "Private"
                                                            },
                                                            "address": {
                                                                "type": "string",
                                                                "example": "123 Main St"
                                                            },
                                                            "logo": {
                                                                "type": "string",
                                                                "format": "url",
                                                                "example": "https://example.com/logo.png"
                                                            },
                                                            "banner_image": {
                                                                "type": "string",
                                                                "format": "url",
                                                                "example": "https://example.com/banner.png"
                                                            },
                                                            "review_count": {
                                                                "type": "integer",
                                                                "example": 10
                                                            },
                                                            "average_rating": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 4.5
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "meta": {
                                            "properties": {
                                                "total": {
                                                    "type": "integer",
                                                    "example": 100
                                                },
                                                "per_page": {
                                                    "type": "integer",
                                                    "example": 10
                                                },
                                                "current_page": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "last_page": {
                                                    "type": "integer",
                                                    "example": 10
                                                },
                                                "next_page_url": {
                                                    "type": "string",
                                                    "example": "https://example.com/api/v1/config/search?page=2&per_page=10",
                                                    "nullable": true
                                                },
                                                "prev_page_url": {
                                                    "type": "string",
                                                    "example": null,
                                                    "nullable": true
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": ""
                                        },
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "timestamp": {
                                            "type": "string",
                                            "format": "date-time",
                                            "example": "2025-03-03T12:00:00Z"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/course/{id}": {
            "get": {
                "tags": [
                    "Course"
                ],
                "summary": "Get course by ID",
                "operationId": "ef9506ace8521af4701f5ffd2cdd44f6",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the course",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "title": {
                                                    "type": "string",
                                                    "example": "Course Name"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Course not found"
                    }
                }
            }
        },
        "/api/v1/course": {
            "get": {
                "tags": [
                    "Course"
                ],
                "summary": "Get courses",
                "operationId": "67a4d81617870e005209c9e7b712a9d7",
                "parameters": [
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Number of items per page",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of items to get",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Number of items to skip",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "title": {
                                                        "type": "string",
                                                        "example": "Course Name"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "No courses found"
                    }
                }
            }
        },
        "/api/v1/home": {
            "get": {
                "tags": [
                    "Home"
                ],
                "summary": "Get a list of home page data",
                "operationId": "e8832655c86d4d44517082c26b66254f",
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "400": {
                        "description": "Invalid request"
                    }
                }
            }
        },
        "/api/v1/org/review": {
            "post": {
                "tags": [
                    "Review"
                ],
                "summary": "Store Review",
                "operationId": "1217709b9b57cc0de7c093f388606f0e",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "": {
                                        "properties": {
                                            "name": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object",
                                "example": {
                                    "name": "example name",
                                    "email": "example email",
                                    "phone": " example phone",
                                    "message": "example message",
                                    "rating": "example rating",
                                    "organization_id": "example organization_id"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "number",
                                            "example": 1
                                        },
                                        "name": {
                                            "type": "string",
                                            "example": "name"
                                        },
                                        "email": {
                                            "type": "string",
                                            "example": "abc@gmail.com"
                                        },
                                        "phone": {
                                            "type": "string",
                                            "example": "1234567890"
                                        },
                                        "message": {
                                            "type": "text",
                                            "example": "message"
                                        },
                                        "rating": {
                                            "type": "number",
                                            "example": "5"
                                        },
                                        "organization_id": {
                                            "type": "number",
                                            "example": "1"
                                        },
                                        "updated_at": {
                                            "type": "string",
                                            "example": "2021-12-11T09:25:53.000000Z"
                                        },
                                        "created_at": {
                                            "type": "string",
                                            "example": "2021-12-11T09:25:53.000000Z"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "invalid",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "msg": {
                                            "type": "string",
                                            "example": "fail"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/news/event": {
            "get": {
                "tags": [
                    "News Event"
                ],
                "summary": "Get news Event list",
                "operationId": "9ca4b3a998292c63fc086161d0f961b5",
                "parameters": [
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Number of items per page",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of items to get",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Number of items to skip",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "title": {
                                                        "type": "string",
                                                        "example": "News Title"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "No news found"
                    }
                }
            }
        },
        "/api/v1/search": {
            "get": {
                "tags": [
                    "Search"
                ],
                "summary": "Search",
                "operationId": "33a446c0b6586dd21f1c066436c77395",
                "parameters": [
                    {
                        "name": "keyword",
                        "in": "query",
                        "description": "Search keyword",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "Search type",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Number of items per page",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of items to get",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Number of items to skip",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "courses": {
                                                    "properties": {
                                                        "items": {
                                                            "type": "array",
                                                            "items": {
                                                                "properties": {
                                                                    "id": {
                                                                        "type": "integer",
                                                                        "example": 1
                                                                    },
                                                                    "course_title": {
                                                                        "type": "string",
                                                                        "example": "Course Name"
                                                                    },
                                                                    "short_title": {
                                                                        "type": "string",
                                                                        "example": "Short Name"
                                                                    },
                                                                    "slug": {
                                                                        "type": "string",
                                                                        "example": "course-slug"
                                                                    },
                                                                    "duration": {
                                                                        "type": "string",
                                                                        "example": "3 years"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        },
                                                        "meta": {
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "universities": {
                                                    "properties": {
                                                        "items": {
                                                            "type": "array",
                                                            "items": {
                                                                "properties": {
                                                                    "id": {
                                                                        "type": "integer",
                                                                        "example": 1
                                                                    },
                                                                    "university_title": {
                                                                        "type": "string",
                                                                        "example": "University Name"
                                                                    },
                                                                    "slug": {
                                                                        "type": "string",
                                                                        "example": "university-slug"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        },
                                                        "meta": {
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "organizations": {
                                                    "properties": {
                                                        "items": {
                                                            "type": "array",
                                                            "items": {
                                                                "properties": {
                                                                    "id": {
                                                                        "type": "integer",
                                                                        "example": 1
                                                                    },
                                                                    "organization_name": {
                                                                        "type": "string",
                                                                        "example": "Organization Name"
                                                                    },
                                                                    "short_name": {
                                                                        "type": "string",
                                                                        "example": "Org Short Name"
                                                                    },
                                                                    "slug": {
                                                                        "type": "string",
                                                                        "example": "organization-slug"
                                                                    },
                                                                    "logo": {
                                                                        "type": "string",
                                                                        "example": "https://example.com/logo.png"
                                                                    },
                                                                    "banner_image": {
                                                                        "type": "string",
                                                                        "example": "https://example.com/banner.png"
                                                                    },
                                                                    "address": {
                                                                        "type": "string",
                                                                        "example": "City, Country"
                                                                    },
                                                                    "review_count": {
                                                                        "type": "integer",
                                                                        "example": 10
                                                                    },
                                                                    "average_rating": {
                                                                        "type": "number",
                                                                        "format": "float",
                                                                        "example": 4.5
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        },
                                                        "meta": {
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid input"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/api/v1/search/college/course/university": {
            "get": {
                "tags": [
                    "Search"
                ],
                "summary": "Simple Search",
                "operationId": "93f506295af9f012b6e33922ddd7c656",
                "parameters": [
                    {
                        "name": "keyword",
                        "in": "query",
                        "description": "Search keyword",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "Search type",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "simple"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Number of items per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 10
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Current page number",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    },
                    {
                        "name": "course",
                        "in": "query",
                        "description": "Filter by course ID",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "university",
                        "in": "query",
                        "description": "Filter by university ID",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "title": {
                                                        "type": "string",
                                                        "example": "Course Title"
                                                    },
                                                    "short_title": {
                                                        "type": "string",
                                                        "example": "Short Title"
                                                    },
                                                    "duration": {
                                                        "type": "string",
                                                        "example": "2 Years"
                                                    },
                                                    "min_range_fee": {
                                                        "type": "number",
                                                        "example": 1000
                                                    },
                                                    "max_range_fee": {
                                                        "type": "number",
                                                        "example": 5000
                                                    },
                                                    "type": {
                                                        "type": "string",
                                                        "example": "course"
                                                    },
                                                    "address": {
                                                        "type": "string",
                                                        "example": "123 University St"
                                                    },
                                                    "logo": {
                                                        "type": "string",
                                                        "format": "url",
                                                        "example": "https://example.com/logo.png"
                                                    },
                                                    "banner_image": {
                                                        "type": "string",
                                                        "format": "url",
                                                        "example": "https://example.com/banner.png"
                                                    },
                                                    "review_count": {
                                                        "type": "integer",
                                                        "example": 10
                                                    },
                                                    "average_rating": {
                                                        "type": "number",
                                                        "format": "float",
                                                        "example": 4.5
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "meta": {
                                            "properties": {
                                                "total": {
                                                    "type": "integer",
                                                    "example": 100
                                                },
                                                "per_page": {
                                                    "type": "integer",
                                                    "example": 10
                                                },
                                                "current_page": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "last_page": {
                                                    "type": "integer",
                                                    "example": 10
                                                },
                                                "next_page_url": {
                                                    "type": "string",
                                                    "example": "https://example.com/api/v1/search-college-course-university?page=2&per_page=10",
                                                    "nullable": true
                                                },
                                                "prev_page_url": {
                                                    "type": "string",
                                                    "example": null,
                                                    "nullable": true
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": ""
                                        },
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "timestamp": {
                                            "type": "string",
                                            "format": "date-time",
                                            "example": "2025-03-03T12:00:00Z"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/status/": {
            "get": {
                "tags": [
                    "Status"
                ],
                "summary": "Get List Status",
                "operationId": "ced9df959b187ac83cd8e3ce5b460cc6",
                "responses": {
                    "200": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "rows": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "_id": {
                                                        "type": "number",
                                                        "example": "1"
                                                    },
                                                    "title": {
                                                        "type": "string",
                                                        "example": "example title"
                                                    },
                                                    "color": {
                                                        "type": "string",
                                                        "example": "#000000"
                                                    },
                                                    "note": {
                                                        "type": "text",
                                                        "example": "example note"
                                                    },
                                                    "updated_at": {
                                                        "type": "string",
                                                        "example": "2021-12-11T09:25:53.000000Z"
                                                    },
                                                    "created_at": {
                                                        "type": "string",
                                                        "example": "2021-12-11T09:25:53.000000Z"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/api/v1/status/store": {
            "post": {
                "tags": [
                    "Status"
                ],
                "summary": "Store Status",
                "operationId": "c5ada5d43a31b7b82fef9cb1115f1e0e",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "": {
                                        "properties": {
                                            "title": {
                                                "type": "string"
                                            },
                                            "content": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object",
                                "example": {
                                    "title": "example title",
                                    "color": "example color",
                                    "note": "example note"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "number",
                                            "example": 1
                                        },
                                        "title": {
                                            "type": "string",
                                            "example": "title"
                                        },
                                        "color": {
                                            "type": "string",
                                            "example": "color"
                                        },
                                        "note": {
                                            "type": "text",
                                            "example": "note"
                                        },
                                        "updated_at": {
                                            "type": "string",
                                            "example": "2021-12-11T09:25:53.000000Z"
                                        },
                                        "created_at": {
                                            "type": "string",
                                            "example": "2021-12-11T09:25:53.000000Z"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "invalid",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "msg": {
                                            "type": "string",
                                            "example": "fail"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/api/v1/status/update/{id}": {
            "put": {
                "tags": [
                    "Status"
                ],
                "summary": "Update Status",
                "operationId": "01ce23288b2d28c8a1e9be3536f73a65",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "": {
                                        "properties": {
                                            "title": {
                                                "type": "string"
                                            },
                                            "content": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object",
                                "example": {
                                    "title": "example title",
                                    "color": "example color",
                                    "note": "example note"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "number",
                                            "example": 1
                                        },
                                        "title": {
                                            "type": "string",
                                            "example": "title"
                                        },
                                        "color": {
                                            "type": "string",
                                            "example": "color"
                                        },
                                        "note": {
                                            "type": "text",
                                            "example": "note"
                                        },
                                        "updated_at": {
                                            "type": "string",
                                            "example": "2021-12-11T09:25:53.000000Z"
                                        },
                                        "created_at": {
                                            "type": "string",
                                            "example": "2021-12-11T09:25:53.000000Z"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/api/v1/status/delete/{id}": {
            "delete": {
                "tags": [
                    "Status"
                ],
                "summary": "Delete Status",
                "operationId": "c31ace1f3da3647bf34f53384dbbe1a4",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "msg": {
                                            "type": "string",
                                            "example": "delete todo success"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/api/v1/status/show/{id}": {
            "get": {
                "tags": [
                    "Status"
                ],
                "summary": "Get single  status",
                "description": "Returns list of status",
                "operationId": "9991bebbc3dcefc69230ed3af9ffcd0a",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Bad request"
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/api/v1/university/{id}": {
            "get": {
                "tags": [
                    "University"
                ],
                "summary": "Get university by ID",
                "operationId": "9d7d25e8386b965ec1c1c7621a20c841",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the course",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "title": {
                                                    "type": "string",
                                                    "example": "University Name"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "University not found"
                    }
                }
            }
        },
        "/api/v1/university": {
            "get": {
                "tags": [
                    "University"
                ],
                "summary": "Get universities",
                "operationId": "1bf78e50b2e4d9ca7b7ca220f924de2d",
                "parameters": [
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Number of items per page",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of items to get",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Number of items to skip",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "title": {
                                                        "type": "string",
                                                        "example": "University Name"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "No universities found"
                    }
                }
            }
        }
    },
    "tags": [
        {
            "name": "College Login",
            "description": "College Login"
        },
        {
            "name": "College",
            "description": "College"
        },
        {
            "name": "News Event",
            "description": "News Event"
        },
        {
            "name": "Config Search ",
            "description": "Config Search "
        },
        {
            "name": "Course",
            "description": "Course"
        },
        {
            "name": "Home",
            "description": "Home"
        },
        {
            "name": "Review",
            "description": "Review"
        },
        {
            "name": "Search",
            "description": "Search"
        },
        {
            "name": "Status",
            "description": "Status"
        },
        {
            "name": "University",
            "description": "University"
        }
    ],
    "components": {
        "securitySchemes": {
            "Bearer": {
                "type": "http",
                "scheme": "bearer",
                "bearerFormat": "JWT",
                "description": "JWT Bearer Authentication - Enter token in format (Bearer <your-token>)"
            }
        }
    },
    "security": {
        "1": {
            "Bearer": []
        }
    }
}